{% include header.html %}
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ page.title }}</h1>
        <p>website</p>


        <!--<p class="view"><a href="https://github.com/lixiaochou077">View My GitHub Profile</a></p>-->

      </header>
      <section>
      {{ content }} 
      </section>
      <footer>
        <!-- <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p> -->
      </footer>
    </div>
   <!--  <script src="../javascripts/scale.fix.js"></script> -->
   <script type="text/javascript">
var metas = document.getElementsByTagName('meta');
var i;
if (navigator.userAgent.match(/iPhone/i)) {
  for (i=0; i<metas.length; i++) {
    if (metas[i].name == "viewport") {
      metas[i].content = "width=device-width, minimum-scale=1.0, maximum-scale=1.0";
    }
  }
  document.addEventListener("gesturestart", gestureStart, false);
}
function gestureStart() {
  for (i=0; i<metas.length; i++) {
    if (metas[i].name == "viewport") {
      metas[i].content = "width=device-width, minimum-scale=0.25, maximum-scale=1.6";
    }
  }
}
   </script>
  </body>
</html>